<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930832370585-tvmm4moku77su7v4rp5adp3ql520gi73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930832370585-tvmm4moku77su7v4rp5adp3ql520gi73</string>
	<key>API_KEY</key>
	<string>AIzaSyDeMRDe6I8zLH_OrJmAdv2-Oz_GDICQmpc</string>
	<key>GCM_SENDER_ID</key>
	<string>930832370585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tyrelle.ragestateapp</string>
	<key>PROJECT_ID</key>
	<string>ragestate-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ragestate-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930832370585:ios:69ed50ec2dfc11141fa108</string>
	<key>DATABASE_URL</key>
	<string>https://ragestate-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>